In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
data = pd.read_csv("diamond\\diamonds.csv")

In [43]:
data.columns

Index(['Unnamed: 0', 'carat', 'color', 'clarity', 'depth', 'table', 'price',
       'x', 'y', 'z', 'cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium',
       'cut_Very Good'],
      dtype='object')

In [41]:
data.head()

,Unnamed: 0,carat,color,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,1,0.23,E,SI2,61.5,55.0,326,3.95,3.98,2.43,False,False,True,False,False
1,2,0.21,E,SI1,59.8,61.0,326,3.89,3.84,2.31,False,False,False,True,False
2,3,0.23,E,VS1,56.9,65.0,327,4.05,4.07,2.31,False,True,False,False,False
3,4,0.29,I,VS2,62.4,58.0,334,4.20,4.23,2.63,False,False,False,True,False
4,5,0.31,J,SI2,63.3,58.0,335,4.34,4.35,2.75,False,True,False,False,False

In [42]:

column_lengths = data.shape[0] 
column_lengths

53940

In [56]:
unique_clarity = data['clarity'].unique()
unique_clarity

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [57]:
unique_color = data['color'].unique()
unique_color

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [54]:
X = data.drop(columns=['price']) 
y = data["price"]

In [ ]:
unique_cut = data['cut'].unique()
unique_cut

In [50]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size= 0.2, random_state=50)

In [51]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [ ]:
print(f"woah! the error : {mse}")
print("The root sq. error  : ", r2)

In [ ]:
print("coeffeicients : ", lr.coef_)
print("bias : ", lr.intercept_)